<div class="container justify-content-center align-items-center">
  <div class="row">
    <!-- 地図表示画面 -->
    <div class="col-md-12 mt-5 ">
      <h4>投稿編集</h4>
      <div class="card">
        <div class="card-body">
          <p>投稿する場所をクリックすることにより指定できます</p>
          <div id="map"
            data-lat="<%= @post&.latitude || 35.6895 %>"
            data-lng="<%= @post&.longitude || 139.6917 %>"
            style="height: 400px;">
          </div>
        </div>
      </div>
    </div>

    <!-- 下部投稿詳細画面 -->
    <div class="col-md-12 mt-2">
      <div class="card">        
        <div class="card-body">
          <%= form_with(model: @post) do |f| %>
            <%= f.hidden_field :latitude, id: "post_latitude" %>
            <%= f.hidden_field :longitude, id: "post_longitude" %>

            <div class="row mb-3 align-items-center">
              <div class="col-md-2 mr-0">
                <%= f.label :title, "タイトル（＊必須）", required: true, class: "form-label" %>
              </div>
              <div class="col-md-10">
                <%= f.text_field :title, class: "form-control" %>
              </div>
            </div>

            <div class="row mb-3 align-items-center">
              <div class="col-md-2">
                <%= f.label :comment, "本文", class: "form-label" %>
              </div>
              <div class="col-md-10">
                <%= f.text_area :comment, class: "form-control" %>
              </div>
            </div>

            <div class="d-flex flex-column flex-md-row justify-content-between mt-3">
              <%= f.submit "変更する", class: "btn btn-success mb-2 mb-md-0" %>
              <%= link_to "削除する", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'map_edit' %>
