<h1>投稿編集</h1>

<div id="map" 
     data-lat="<%= @post.latitude %>" 
     data-lng="<%= @post.longitude %>" 
     style="height: 400px;"></div>

<%= form_with(model: @post) do |f| %>
  <%= f.hidden_field :latitude, id: "post_latitude" %>
  <%= f.hidden_field :longitude, id: "post_longitude" %>
  <%= f.submit "更新" %>
<% end %>

<%= javascript_pack_tag 'map_edit' %>
