<div class="container justify-content-center align-items-center">
  <div class="row">
    <!-- 地図表示画面 -->
    <div class="col-md-12 mt-5 ">
      <h4>投稿一覧</h4>
      <div class="card">
        <div class="card-body">
          <div id="map"></div>
        </div>
      </div>
    </div>

    <!-- 下部投稿一覧 -->
    <div class="col-md-12 mt-2">
      <div class="card">        
        <div class="card-body">
          <h4>投稿一覧</h4>
          <table class="table table-m custom-post-table">
            <thead>
              <tr>
                <th></th>
                <th>ユーザー</th>
                <th>タイトル</th>
                <th>投稿日</th>
                <th>更新日</th>
              </tr>
            </thead>

            <tbody>
              <% @posts.each do |post| %>
                <tr class="post-row border-bottom" data-href="<%= post_path(post) %>">

                  <td>
                    <%= post.id %>
                  </td>

                  <td>
                    <%= link_to user_path(post.user),
                          class: "d-flex align-items-center text-decoration-none text-dark" do %>

                      <div class="me-2">
                        <%= image_tag post.user.get_profile_image(100, 100),
                              class: "rounded-circle",
                              style: "width:40px; height:40px; object-fit:cover;" %>
                      </div>

                      <span class="small"><%= post.user.user_name %></span>
                    <% end %>
                  </td>

                  <td>
                    <%= post.title %>
                  </td>

                  <td>
                    <%= post.created_at.strftime("%Y-%m-%d %H:%M") %>
                  </td>

                  <td>
                    <% if post.created_at != post.updated_at %>
                      <%= post.updated_at.strftime("%Y-%m-%d %H:%M") %>
                    <% else %>
                      -
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <%= paginate @posts %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>
