<div class="container justify-content-center align-items-center">
  <div class="row">
    <!-- 地図表示画面 -->
    <div class="col-md-12 mt-5 ">
      <h4><%= @post.title %></h4>
      <div class="card">
        <div class="card-body">
          <div id="map"
            data-lat="<%= @post.latitude || 35.681236 %>"
            data-lng="<%= @post.longitude || 139.767125 %>">
            data-map-id="DEMO_MAP_ID"
            data-posts='<%= raw(@post.to_json(
                methods: [:latitude, :longitude, :title, :created_at, :updated_at]
              )) %>' 
            style="height: 500px;">
          </div>
        </div>
      </div>
    </div>

    <!-- 下部投稿詳細画面 -->
    <div class="col-md-12 mt-2">
      <div class="card">        
        <div class="card-body">
          <h4>投稿詳細</h4>
          <hr>
          <%= link_to user_path(@post.user) do %>
            <h5><%= @post.user.user_name %></h5>
          <% end %>
          <hr>
          <h5><%= @post.comment %><h5>
          <hr>
          <p>投稿日時: <%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          <% if @post.created_at != @post.updated_at %>
            <p>更新日時: <%= @post.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
          <% end %>
          <hr>
          <% if @post.user_id == current_user.id %>
            <%= link_to "編集", edit_post_path(@post), class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'map_show'%>
