<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="low">
    <div class="col-12 mb-5">

      <div class="form-group row mb-5">
        <div class="col-sm-3" ></div>
        <h2 class="col-sm-9">ユーザー新規登録</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "public/users/shared/error_messages", resource: resource %>

        <div class="form-group row mb-3 border-bottom">
          <%= f.label :user_name, class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row mb-3 border-bottom">
          <%= f.label :email, class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row mb-3 border-bottom">
          <%= f.label :profile, class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= f.text_area :profile, class: "form-control", style: "height:100px;" %>
          </div>
        </div>

        <div class="form-group row mb-3 border-bottom">
          <%= f.label :profile_image, class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= f.file_field :profile_image, accept: "image/*", class: "form-control border-0" %>
          </div>
        </div>

        <div class="form-group row mb-3">
          <%= f.label :password, class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>

        <div class="form-group row mb-3 border-bottom">
          <%= f.label :password_confirmation, class: "col-sm-3 col-form-label" %>
          <div class="col-sm-9">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="actions">
          <%= f.submit "Update" %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>


      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
