<div class="container justify-content-center align-items-center">
  <div class="row">

    <div class="col-md-5 mb-4">
      <div class="card">
        <div class="card-body">
          <%= profile_image_for(@user) %>

          <h5 class="card-title"><%= @user.user_name %></h5>
          <p class="card-text text-muted"><%= @user.profile %></p>

          <%= link_to "プロフィール編集",  edit_user_registration_path, class: "btn btn-primary mt-3" %>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h3>投稿</h3>
          <hr>
          <div id="user-posts-map" style="height: 500px;"></div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @posts.each do |post| %>        
                <tr>
                  <td style="width: 200px;">
                    <%= link_to post_path(post) do %>
                      <%= post.title %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Maps_API_Key'] %>&callback=initUserPostsMap" defer>
</script>

<%= javascript_pack_tag "map_user_show", 'data-turbolinks-track': 'reload' %>
